<div class="section">
  <span class="template-name">example.hbs</span>

  {{#portal-content for="header" as |args|}}
    <div id="examples-header" class="header">
      Example {{args.title}} - defined in example.hbs
    </div>
  {{/portal-content}}

  {{#portal-content for="footer" as |args|}}
    <div id="examples-footer" class="footer">
      <p>
        Example {{args.title}} - defined in example.hbs
      </p>
      <p>
        <button {{action "clicked"}}>click me</button> - actions work as expected.
      </p>
    </div>
  {{/portal-content}}

  <p>
    This sets an example header and footer. Navigate around to see the portal content contextually change.
  </p>

  <ul class="nav">
    <li>{{link-to "Home" "example"}}
      <ul>
        <li>{{link-to "Foo" "example.foo"}}</li>
        <li>{{link-to "Bar" "example.bar"}}
          <ul>
            <li>{{link-to "Baz" "example.bar.baz"}}</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

  {{outlet}}

</div>
